.carousal {
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.2)
}

.slides{
    height: 700px;
}

.icon-and-menu {
    display: block;
}

.logo {
    display: inline-block;
    padding: 100px;
    padding-bottom: 50px;
    padding-left: 250px;
    padding-right: 200px;
}

#my-logo{
    border-radius: 50%;
}


.carousal-hero-title-text {
    padding-left: 250px;
    margin-bottom: 0;
    font-size: 4.5rem;
    font-family: Montserrat;
    font-weight: 900;
    color: #f42b83;
}

.carousal-para {
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 250px;
    margin-top: 0;
    color: white;
}

.slide-container{
    height: 700px;
    width:100%;
    bottom: 0;
}

.carousel-img{
    object-fit: cover;
}

.plain{
    /* background-color: black; */
    background-image: url('https://c4.wallpaperflare.com/wallpaper/562/372/1012/programmers-javascript-minimalism-wallpaper-preview.jpg');
    width: 100%;
    height: 700px;
    /* display: none; */
    position: absolute;
    z-index: -3;
}

.header{
    position:relative;
    height: 700px;

}

.header-image{
    /* postion:absolute; */
    background-image: url('https://c4.wallpaperflare.com/wallpaper/562/372/1012/programmers-javascript-minimalism-wallpaper-preview.jpg');
    width: 100%;
    height: 100%;
    /* display: none; */
    position: absolute;
    z-index: -3;

}

.image{
    filter: blur(10px);
}