.skills{
    /* background-image: url('https://media.istockphoto.com/id/1132089008/vector/vector-of-two-human-heads-made-of-gears-with-light-bulb-shape-inside.jpg?s=612x612&w=0&k=20&c=0KMU1svkqxR_C-thzRQPTa9Jfdz_X9C9xdUnj4nzYMo='); */
    background-size: cover;
    background-position: center;
    position: relative;
    object-fit: cover;
    /* background-color: #019081; */

}
.skill-bg{
    z-index: -1;
    position: absolute;
    filter: blur(2px);
    width: 100%;
    height: 100%;
}
.container {
    display: flex;
    gap: 50px;
    justify-content: center;
    /* padding: 50px; */
    padding-bottom: 150px;
}

.skill-icons {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 10px;
    border-style: solid;
    border-color: #F2EEE0;
}

.icon-name {
    text-align: center;
    font-family: Montserrat,snas-serif;
    padding: 40px 0;
    font-weight: 500;
    font-size: 1.2rem;
    /* color: #55555; */
}

.skills-img {
    margin: auto;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}