#carousal {
    position: relative;
    width: 100%;
    height: 700px;
    background:rgba(0,0,0,0.2)
    /* background-image: url("https://mir-s3-cdn-cf.behance.net/projects/404/963c41114944471.Y3JvcCw2MTM2LDQ4MDAsMTM2LDA.png"); */
    /* background-size: cover; */
    /* margin: 0; */
    /* height: 100vh; */
}

.icon-and-menu {
    /* display: inline-block; */
    display: block;
}

.logo {
    /* margin: auto; */
    display: inline-block;
    /* position:absolute; */
    padding: 100px;
    padding-left: 200px;
}

.biohazard {
    font-size: 12rem;
    color: #e1c874;
}

.carousal-hero-title-text {
    /* position:absolute; */
    /* display: inline-block; */
    padding-left: 250px;
    margin-bottom: 0;
    font-size: 4.5rem;
    font-family: Montserrat;
    font-weight: 900;
    color: #446264;
}

.carousal-para {
    font-family: Montserrat, sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    padding-left: 250px;
    margin-top: 0;
}

.slide-container{
    height: 700px;
    width:100%;
    /* opacity: 0.2; */
}

.fa-angle-left{
    margin-top: 350px;
    margin-left: 50px;
    position: absolute;
    color:white;
}

.fa-angle-left:hover{
    cursor: pointer;
}

.fa-angle-right{
    color: white;
    position: absolute;
    margin-top: 350px;
    margin-left: calc(100% - 50px);
}

.fa-angle-right:hover{
    cursor: pointer;
}