nav{
    display: flex;
}
.menu-bar{
    display: inline-block;
    /* padding-left: 2000; */
    padding-top: 0;
}
.menu{
    /* position: absolute; */
    list-style-type: none;
    /* display: flex; */
    border-radius: 10px;

}

.menu-elements{
    /* display: ; */
    padding:10px 30px;
    background-color: #f2ad42;
    font-family: Montserrat , sans-serif;
    text-align: center;
    /* width: 180px; */
}

.menu-elements:first-child{
    border-radius: 5px 00px 0px 5px;
    /* padding-left: 50px; */
}

.menu-elements:last-child{
    border-radius: 0px 5px 5px 0px;
    /* padding-right: 50px; */
}

.menu-elements:hover{
    background-color: #bc3476;
    transition: 0.4s;
}

.link-menu-elements{
    cursor: pointer;
    display: flex;
    text-decoration: none;
    color: black;
}