#copyright{
    /* height: 2rem; */
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #EEEE;
    padding: 10px;
    /* margin: auto; */
    background-color: #352F44;
}